.about {
  margin: 0;
  margin-bottom: 100px;
  padding: 0 15px;
}

.about__title {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  text-align: center;
}

.about__text {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  text-align: center;

  &:last-child {
    margin-bottom: 0;
  }
}

.about__list {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style: none;
  text-align: center;
}

.about__item {
  position: relative;

  width: 270px;
  margin: 0 auto 25px;
  padding: 0;
  padding-top: 80px;
}

.about__item--like::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(50% - 32px);

  width: 64px;
  height: 64px;

  background-image: url(../img/icon__like.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.about__item--planet::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(50% - 32px);

  width: 64px;
  height: 64px;

  background-image: url(../img/icon__planet.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.about__item--thermometer::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(50% - 32px);

  width: 64px;
  height: 64px;

  background-image: url(../img/icon__thermometer.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.about__item--document::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(50% - 32px);

  width: 64px;
  height: 70px;

  background-image: url(../img/icon__document.png);
  background-repeat: no-repeat;
  background-position: center center;
}

@media (min-width: $tablet-width) {
  .about {
    padding: 0 30px;
  }

  .about__text {
    padding: 0 50px;
  }

  .about__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .about__item {
    width: 350px;
  }
}

@media (min-width: $desktop-width) {
  .about {
    width: 1140px;
    margin: 0 auto 100px;
    padding: 0 15px;
  }

  .about__item {
    width: 196px;

    text-align: left;

    &::before {
      left: 0;
    }
  }
}

.about--inner {
  margin-bottom: 50px;
  padding: 0 15px;

  & .about__title {
    margin-bottom: 35px;

    text-align: left;
  }

  & .about__text {
    text-align: left;
  }

  @media (min-width: $tablet-width) {
    padding: 0 30px;

    .about__wrapper {
      padding: 50px;

      background-color: #ffffff;
      border: 1px solid #e8eaed;
      border-radius: 30px;
    }

    .about__text {
      padding: 0;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 0 15px;
  }
}
