.delivery {
  margin: 0;
  margin-bottom: 100px;
  padding: 0 15px;
}

.delivery__title {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;

  line-height: normal;
  text-align: left;
}

.delivery__text {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  text-align: left;

  &:last-child {
    margin-bottom: 0;
  }

  & a {
    color: #138ba4;
  }
}

@media (min-width: $tablet-width) {
  .delivery {
    padding: 0 30px;
  }

  .delivery__wrapper {
    padding: 50px;

    background-color: #ffffff;
    border: 1px solid #e8eaed;
    border-radius: 30px;
  }

  .delivery__text {
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .delivery {
    width: 1140px;
    margin: 0 auto 100px;
    padding: 0 15px;
  }
}
