.dropdown {
  margin: 0;
  padding: 0;

  list-style: none;

  &--closed {
    display: none;
  }

  &--opened {
    display: block;
  }
}

.dropdown__link {
  display: block;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 20px;
  padding: 20px;

  font: inherit;
  line-height: 20px;
  text-align: center;
  color: $darkgray_color;

  border: 1px solid #f1f1f1;
  border-radius: 30px;

  &:focus,
  &:hover {
    color: $darkgray_color;

    border: 1px solid #f58e48;
  }

  &:active {
    border: 1px solid #98c859;
  }
}

@media (min-width: $desktop-width) {
  .dropdown--opened {
    display: flex;
  }

  .dropdown__item {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}
