.main-nav {
  width: 100%;
  margin: 0;
  padding: 0;
}

.main-nav__logo {
  display: none;
}

.main-nav__toggle {
  position: absolute;
  top: 39px;
  right: 25px;

  display: block;
  width: 40px;
  height: 40px;

  background-color: transparent;
  border: none;
}

.main-nav--closed .main-nav__toggle {
  &::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;

    width: 100%;
    height: 2px;

    background-color: $lightgray_color;
    box-shadow: 0 10px 0 0 $lightgray_color,
    0 20px 0 0 $lightgray_color;
  }
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 20px;
    left: 0;

    width: 40px;
    height: 2px;

    background-color: $lightgray_color;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav--closed .main-nav__wrapper {
  display: none;
}

.main-nav--opened .main-nav__wrapper {
  display: flex;
  flex-direction: column;
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;
  text-align: center;
}

.main-nav__item {
  width: 100%;
}

.main-nav__item a {
  position: relative;

  display: block;
  padding: 20px 20px;

  color: $default_text_color;

  &[href]:focus,
  &[href]:hover {
    color: #ffffff;
    background-color: #f58e48;
  }

  &:not([href]) {
    color: #ffffff;
    background-color: #98c859;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav--closed .main-nav__wrapper,
  .main-nav__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .main-nav__logo {
    display: block;

    width: 103px;

    margin: 20px;
  }

  .main-nav__list {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    font-size: 16px;
  }

  .main-nav__item {
    flex-shrink: 1;
    width: auto;

    & a {
      padding: 20px 15px;
    }
  }

  .main-nav__item a {
    &[href]:focus::after,
    &[href]:hover::after {
      content: "";

      position: absolute;
      bottom: 0;
      left: 0;

      width: 100%;
      height: 2px;

      background-color: #f58e48;
    }

    &:not([href]):after {
      content: "";

      position: absolute;
      bottom: 0;
      left: 0;

      width: 100%;
      height: 2px;

      background-color: #98c859;
    }

    &[href]:focus,
    &[href]:hover {
      color: $darkgray_color;
      background: none;
    }

    &:not([href]) {
      color: $darkgray_color;
      background: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-nav--closed .main-nav__wrapper,
  .main-nav__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .main-nav__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 100%;

    font-size: 14px;
  }

  .main-nav__item a {
      padding: 10px 15px;

      &[href]:focus::after,
      &[href]:hover::after {
        bottom: -27px;
      }

      &:not([href]):after {
        bottom: -27px;
      }
  }
}
