.order {
  margin: 0;
  margin-bottom: 100px;
  padding: 0 15px;
}

.order__title {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;

  text-align: left;
}

.order__text {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  text-align: left;

  &:last-child {
    margin-bottom: 0;
  }
}

.order__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style: none;
}

.order__item {
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.order__select {
  width: 100%;
}

.order__input {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 20px;

  font: inherit;
  line-height: 18px;

  border: 1px solid $lightgray_color;
  border-radius: 30px;

  &:focus,
  &:hover {
    border-color: #98c859;
    outline: none;
  }
}

@media (min-width: $tablet-width) {
  .order {
    padding: 0 30px;
  }

  .order__wrapper {
    padding: 50px;

    background-color: #ffffff;
    border: 1px solid #e8eaed;
    border-radius: 30px;
  }

  .order__text {
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .order {
    width: 1140px;
    margin: 0 auto 100px;
    padding: 0 15px;
  }

  .order__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .order__item {
    width: 509px;
  }
}
