.page-header {
  font-size: 16px;

  background-color: #ffffff;
  box-shadow: 0 6px 8px 0 rgba(192, 192, 196, 0.2);

  &--sticky {
    position: fixed;
    top: 0;
    width: 100%;

    z-index: 1000;

    box-sizing: border-box;
  }

  &--sticky + .page-content {
    padding-top: 72px;
  }
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-header__logo {
  align-self: flex-start;

  width: 150px;
  height: 32px;
  margin-left: 20px;
  padding: 20px 0 20px;
}

@media (min-width: $tablet-width) {
  .page-header {
    position: static;
    padding: 0 15px;

    &--sticky + .page-content {
      padding-top: 0;
    }
  }

  .page-header__logo {
    display: none;
  }

  .page-header__wrapper {
    flex-direction: row;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    position: fixed;
    padding: 0 15px;

    &--sticky + .page-content {
      padding-top: 100px;
    }
  }
}
