.pagination {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination__item {
  width: 62px;
  margin: 0;
  margin-right: 10px;
  padding: 0;
}

.pagination__link {
  display: block;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 20px;
  padding: 20px;

  font: inherit;
  line-height: 20px;
  text-align: center;
  color: $darkgray_color;

  background-color: #ffffff;
  border: 1px solid $lightgray_color;
  border-radius: 30px;

  &:focus,
  &:hover {
    color: #ffffff;

    background-color: #f58e48;
    border: 1px solid #f58e48;
  }

  &--current {
    color: #ffffff;

    background-color: #98c859;
    border: 1px solid #98c859;
  }
}
