.phone {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: 20px;
  padding: 0;

  list-style: none;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
}

.phone__item a {
  position: relative;

  display: block;
  padding: 20px 20px;

  color: $default_text_color;

  &::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;

    width: 100%;
    height: 1px;

    background-color: #ffbe00;
  }
}

.phone__item:last-child a::after {
  display: none;
}

@media (min-width: $tablet-width) {
  .phone {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .phone__item {
    width: 100%;
  }

  .phone__item a {
    &::after {
      right: 0;
      left: auto;

      width: 1px;
      height: 100%;
    }
  }
}

@media (min-width: $desktop-width) {
  .phone {
    align-items: center;
    align-content: center;
    flex-shrink: 0;
    width: 310px;

    margin: 0;
    flex-wrap: wrap;

    font-weight: 300;
    font-size: 14px;
  }

  .phone__item {
    width: auto;
    flex-shrink: 0;
    & a {
      padding: 10px 15px;
    }
  }

  .phone__item a {
    &::after {
      display: none;
    }
  }

  .phone__item--email {
    display: none;
  }


}
