.sorting__text {
  display: block;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  font-weight: 600;
  font-size: 20px;
}

.sorting__list {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;

  list-style: none;
}

.sorting__controls {
  display: flex;
  flex-direction: column;

  & button {
    margin-bottom: 20px;
  }
}

.sorting__button {
  color: $darkgray_color;

  background-color: #ffffff;
  border: 1px solid $lightgray_color;
  border-radius: 30px;

  &:focus,
  &:hover {
    color: #ffffff;

    background-color: #f58e48;
    border: 1px solid #f58e48;
  }

  &:active {
    border: 1px solid #98c859;
  }
}

.sorting__link {
  display: block;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 20px;
  padding: 20px;

  font: inherit;
  line-height: 20px;
  text-align: center;
  color: $darkgray_color;

  background-color: #ffffff;
  border: 1px solid $lightgray_color;
  border-radius: 30px;

  &:focus,
  &:hover {
    color: #ffffff;

    background-color: #f58e48;
    border: 1px solid #f58e48;
  }

  &:active {
    border: 1px solid #98c859;
  }
}

@media (min-width: $tablet-width) {
  .sorting__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .sorting__controls {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .sorting__list {
    flex-direction: row;
  }

  .sorting__item {
    margin-right: 10px;
  }

  .sorting__link {
    margin-bottom: 0;
  }

  .sorting__controls {
    flex-direction: row;
    justify-content: flex-start;

    & button {
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
