.subscription {
  margin-bottom: 50px;
}

.subscription__title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  font-weight: 600;
  font-size: 20px;
}

.subscription__text {
  margin: 0;
  padding: 0;
}

.subscription__input {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 20px 80px 20px 20px;

  border: 1px solid $lightgray_color;
  border-radius: 30px;
}

.subscription__form {
  position: relative;
}

.subscription__button {
  position: absolute;
  top: -5px;
  right: 0;

  width: 70px;
  height: 70px;

  background-color: #a1cfe0;
  border: 10px solid #76bbd5;
  border-radius: 50%;
  box-shadow: 0 5px 25px rgba(0,0,0,0.25);

  &::before {
    content: "";
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 10px);

    width: 20px;
    height: 20px;

    background-image: url(../img/icon__arrow--white.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  &:focus,
  &:hover {
    box-shadow: inset 0 5px 10px rgba(0,0,0,0.25),
    0 5px 25px rgba(0,0,0,0.25);
  }
}

@media (min-width: $tablet-width) {
  .subscription {
    width: 400px;
    margin-bottom: 50px;
  }
}
