.jq-selectbox {
  position: relative;
  display: inline-block;
}

.jq-selectbox select {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
}

.jq-selectbox li {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
}

.jq-selectbox {
  z-index: 10;
}

.jq-selectbox__select {
  position: relative;
}

.jq-selectbox__select-text {
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.jq-selectbox__dropdown {
  position: absolute;
}

.jq-selectbox__dropdown ul {
  position: relative;
  overflow: auto;
  overflow-x: hidden;
  list-style: none;
  -webkit-overflow-scrolling: touch;
}

// Стилизация
.jq-selectbox {
  vertical-align: middle;
  cursor: pointer;
}

.jq-selectbox__select {
	height: 20px;

  padding: 20px 45px 20px 20px;

	border-radius: 30px;
  border: 1px solid $lightgray_color;

  background-color: #ffffff;
  font: inherit;
	line-height: 18px;

  color: $darkgray_color;
}

.jq-selectbox__select:hover {
  border-color: #98c859;
}

.jq-selectbox__select:active {
  border-color: #98c859;
}

.jq-selectbox.focused .jq-selectbox__select {
  border-color: #98c859;
}

.jq-selectbox.disabled .jq-selectbox__select {
  border-color: #CCC;
  background: #F5F5F5;
  box-shadow: none;
  color: #888;
}

.jq-selectbox__select-text {
  display: block;
  width: 100%;
}

.jq-selectbox .placeholder {
  color: #888;
}

.jq-selectbox__trigger {
  position: absolute;
  top: 0;
  right: 0;
  width: 34px;
  height: 100%;
}

.jq-selectbox__trigger-arrow {
  position: absolute;
  top: 28px;
  right: 20px;
  width: 0;
  height: 0;
  border-top: 5px solid #999;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.jq-selectbox:hover .jq-selectbox__trigger-arrow {
  border-top-color: #000;
}

.jq-selectbox.disabled .jq-selectbox__trigger-arrow {
  border-top-color: #AAA;
}

.jq-selectbox__dropdown {
  box-sizing: border-box;
  width: 100%;
  margin: 2px 0 0;
  padding: 0;
  border: 1px solid #CCC;
  border-radius: 4px;
  background: #FFF;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
  font: inherit;

	top: 40px;
}

.jq-selectbox ul {
  margin: 0;
  padding: 0;
}

.jq-selectbox li {
  min-height: 18px;
  padding: 5px 10px 6px;
  color: #231F20;
}

.jq-selectbox li.selected {
  background-color: #98c859;
  color: #FFF;
}

.jq-selectbox li.disabled.selected {
	color: $lightgray_color;
	background: none;
}

.jq-selectbox li:hover {
  background-color: #98c859;
  color: #FFF;
}

.jq-selectbox li.disabled {
  color: #AAA;
}

.jq-selectbox li.disabled:hover {
  background: none;
	color: #aaaaaa;
	cursor: auto;
}

.jq-selectbox li.optgroup {
  font-weight: bold;
}

.jq-selectbox li.optgroup:hover {
  background: none;
  color: #231F20;
  cursor: default;
}

.jq-selectbox li.option {
  padding-left: 25px;
}
